body{
    background-color: rgb(0, 0, 0); 
    margin: 50px;
    

}
h1{
    color: white;
    text-shadow: 1px 1px 1px red;
    margin: 20px 0 0 20px;
    font-size: 30px;
}
h1,h2:hover{
    color: red;
    text-shadow: 1px 1px 1px white;
}
p{
    color: white;
}
h3{
    color: white;
}
li{
    color: white;
}
img{
    border: 3px solid #00ffff;
}
hr{
    color: #ffff00;
    width: 600px;
}
b{
    color: red;
    text-shadow: -1px 1px 1px #ffff00;
    font-size: 20px;
}
em{
    color: #00ff40;
    text-shadow:  1px 1px 1px rgb(0, 0, 0);
}